body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('bk37.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-box {
    color: white;
    background-image: url('bk39.jpg');
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
  }
  
  .loginForm .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .uIcon {
    margin-right: 10px;
    color: #666;
  }
  
  input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    color: black;
  }

  input[type="checkbox"] {
    display: flex;
    margin-left: 10px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  label {
    display: flex;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;
  }

  button {
    background: #020006;
    color: white;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 37%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #e99ff6;
    color: white;
  }
  
  .forgot-password {
    color: #e99ff6;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .extra-links p {
    margin-top: 20px;
    font-size: 14px;
    color: white;
  }
  
  .extra-links a {
    color: #e99ff6;
    text-decoration: none;
  }
  
  .extra-links a:hover {
    text-decoration: underline;
  }